<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LibrarySystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LibrarySystem.Properties.Settings.SJCLibrarySystemConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=SJCLibrarySystem.accdb;Persist Security Info=True;Jet OLEDB:Database Password=JHEHM2019" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <userSettings>
        <LibrarySystem.Properties.Settings>
            <setting name="LoginUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Counter_Access_Number" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Counter_Client_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Daily_Fee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximum_Fee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Damaged_Type" serializeAs="String">
                <value>Percentage</value>
            </setting>
            <setting name="Damaged_Fee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lost_Type" serializeAs="String">
                <value>Specific Price</value>
            </setting>
            <setting name="Lost_Fee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Last_Date" serializeAs="String">
                <value/>
            </setting>
            <setting name="Maximum_Book" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RestoredFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </LibrarySystem.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
